.about-banner {
	height: 300px;
	width: 100%;
	background-image: url('http://spokanehoopfest.net/images/photos/Fat_Footer.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}