@import 'materialize';
@import 'home';
@import 'faq';
@import 'nav';
@import 'footer';

// font-family: 'Orbitron', sans-serif;
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Raleway', sans-serif;

* {
	// border: 1px solid red;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.h-center {
	justify-content: center;
}

.v-center {
	align-items: center;
}

.centered {
	justify-content: center;
	align-items: center;
}

.h-around {
	justify-content: space-around;
	// align-items: space-around;
}

.h-between {
	justify-content: space-between;
	// align-items: space-between;
}

.main-red {
	background-color: #b80504;
}

h1 {
	margin: 0;
	font-size: 50px;
	font-family: 'Audiowide', cursive;
	font-weight: 300;
	font-style: none;
	letter-spacing: 5px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

input, textarea {
	border: 1px solid black !important;
	padding: -10px !important;
}

textarea {
	height: 150px;
}

.form-container {

}





