@import 'materialize';
@import 'home';
@import 'faq';
@import 'nav';
@import 'footer';

// font-family: 'Orbitron', sans-serif;
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Raleway', sans-serif;

.main-red {
	background-color: #b80504;
}

h1 {
	margin: 0;
	font-size: 50px;
	font-family: 'Audiowide', cursive;
	font-weight: 300;
	font-style: none;
	letter-spacing: 5px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

.collapsible-header {
	border-bottom: none;
}

.collapsible-header.active {
	transition: 1s;
	background-color: #1e88e5 !important;
	color: white;
}

.collapsible-header:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #777;
    margin-left: 5px;
    float: left;
    padding-right: 15px;
}

.collapsible-header.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-body {
	padding: 15px;
}