@import 'materialize';
@import 'home';
@import 'about';
@import 'location';
@import 'event';
@import 'faq';
@import 'sponsor';
@import 'nav';
@import 'rules';
@import 'footer';
@import '404';
$primary-color: color("cyan", "base") !default;
$secondary-color: color("cyan", "base") !default;

.indicator {
	background-color: #e3493b !important;
}

.color-blue-txt {
	color: #304ffe !important;
}

.color-blue {
	background-color: #304ffe !important;
}

.color-yellow-txt {
	color: #eeba4c !important;
}

.color-yellow {
	background-color: #eeba4c !important;
}

.color-light-cyan-txt {
	color: #a9ddd9 !important;
}

.color-light-cyan {
	background-color: #a9ddd9 !important;
}

.color-cyan-txt {
	color: #23b5af !important;
}

.color-cyan {
	background-color: #23b5af !important;
}

.color-white-txt {
	color: #ecf0f1 !important;
}

.color-white {
	background-color: #ecf0f1 !important;
}

.color-red-txt {
	color: #e3493b !important;
}

.color-red {
	background-color: #e3493b !important;
}

.color-black-txt {
	color: #171616 !important;
}

.color-black {
	background-color: #171616 !important;
}


// font-family: 'Orbitron', sans-serif;

// bolder
// font-family: 'Hammersmith One', sans-serif;

// logo
// font-family: 'Audiowide', cursive;

// thin
// font-family: 'Raleway', sans-serif;

* {
	// border: 1px solid red;
}

.main-txt {
	font-size: 16px !important;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 28px;
	font-family: 'Hammersmith One', sans-serif;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

h4 {
	font-size: 18px;
	font-family: 'Hammersmith One', sans-serif;
}

h5 {
	// font-family: 'Orbitron', sans-serif;
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Audiowide', cursive;
	// font-family: 'Raleway', sans-serif;
}

h6 {
	// font-family: 'Orbitron', sans-serif;
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Audiowide', cursive;
	// font-family: 'Raleway', sans-serif;
}

.contain {
	margin-left: 50px;
	margin-right: 50px;
}


// -------  F L E X  --------


.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.h-center {
	justify-content: center;
}

.v-center {
	align-items: center;
}

.centered {
	justify-content: center;
	align-items: center;
}

.h-start {
	justify-content: flex-start;
}

.v-start {
	justify-content: flex-start;	
}

.h-end {
	justify-content: flex-end;
}

.v-end {
	justify-content: flex-end;	
}

.h-around {
	justify-content: space-around;
	// align-items: space-around;
}

.h-between {
	justify-content: space-between;
	// align-items: space-between;
}


// -------


.main-red {
	background-color: #b80504;
}

body {
	font-size: 16px !important;
	font-family: 'Ubuntu', sans-serif;
	// background-color: #ecf0f1;
}

html, body {
	// margin-left: 10px !important;
	// margin-right: 10px !important;
}



input, textarea {
	border: 1px solid black !important;
	padding: -10px !important;
}

textarea {
	height: 150px;
}

.form-container {

}







