.event-item-title {
	
}

.event-item-icon {
	margin-right: 15px;
	height: 50px;
	width: 50px;
}

.event-item-content {
	margin-left: 60px;
}

.event-item-name {
	justify-content: flex-start;
}

.event-item-name h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.register-now a {
	color: #fff;
}

.register-now:hover {
	background-color: #e3493b !important;
	transition: 0.5s;
}

@media (min-width: 993px) {
	.tabs {
		display: flex;
		justify-content: center !important;
		justify-content: space-around !important;
	}
}
