footer {
	background-color: #252525 !important;
	color: white;
}

.footer-logo {
	height: 90px;
	width: 90px;
	margin-left: 25px;
}

.footer-logo img {
	height: 90px;
	width: 90px;
	margin-top: 15px;
}