footer {
	background-color: #171616 !important;
	// background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
	background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
	color: white;
}

.footer-logo {
	height: 75px;
	width: 75px;
	margin-right: 12px;
	margin-left: 5px;
}

.footer-copyright {
	margin-right: 25px;
}

.footer-menu {
	word-spacing: 3px;
	margin-right: 25px;
}

.footer-menu a {
	color: #fff;
}

.footer-menu a:hover {
	opacity: 0.7;
}

.fa {
		color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.social-icons {
	margin-right: 25px;
}

.social-icons i {
	padding: 0;
	margin: 5px;
	height: 0px;
	width: 40px;
}

  @media #{$small-and-down} {
    .footer-copyright {
    	font-size: 10px;
    }
  }

	@media (max-width: 540px) {
		.footer-menu a {
			font-size: 14px;
		}
	}