.app-title {
	margin: 0;
	font-size: 55px;
	font-family: 'Audiowide', cursive;
	font-weight: 300;
	font-style: none;
	letter-spacing: 5px;
}

.main-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// background-image: url("https://res.cloudinary.com/omash612/image/upload/c_scale,w_2131/v1483683226/artsyBasketball_ysrsox.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: white;
	height: 100vh;
}

.header-logo {
	margin-top: 20px;
	height: 125px;
	width: 125px;
}

.lifetime-header {
	height: 110px;
	width: 250px;
}

.locations-box {
	border: 1px solid black;
	border-radius: 3px;
	width: 325px;
}

.locations-header {
	border: 1px solid black;
}

.locations-body {
	border: 1px solid black;
}

.locations-body a {
	color: black;
}

.locations-body a:hover {
	color: #304ffe !important;
}

.locations-row {
	padding: 3px;
}

.locations-row:hover {
	color: #ff4081;
}

.locations-item {
	width: 40%;
}

.home-image1-max {
	height: 325px;
	width: 375px;
	background-image: url('http://www.hooptourusa.com/uploads/5/3/3/8/53384717/2737111.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home-image1-min {
	display: none;
	height: 325px;
	width: 375px;
	background-image: url('http://www.hooptourusa.com/uploads/5/3/3/8/53384717/2737111.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.foo {
	font-size: 40px;
}

.row-color {
	background-color: #bbdefb;
}

.image-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (max-width: 710px) {

	.home-image1-max {
		display: none;
	}

	.home-image1-min {
		display: flex;
		width: 90%;
	}
}

@media ( max-width: 550px ) {
	.catch-phrase h2 {
		font-size: 18px;
	}
}










