.home-title {
	margin: 0;
	font-size: 40px;
	font-family: 'Audiowide', cursive;
	font-weight: 300;
	font-style: none;
	letter-spacing: 5px;
}

.sub-title {
	font-size: 18px;
}

.main-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url('http://res.cloudinary.com/dtb6lx1s4/image/upload/v1491868455/basketball_overlay_c0gf4s.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: white;
}

.header-logo {
	margin-top: 20px;
	height: 125px;
	width: 125px;
}
