.location-month {
	width: 25%;
}

.month-header {
	border-bottom: 2px solid #304ffe;
	color: #304ffe;
}

.month-body {
	margin: 10px;
}

.month-spacing {
	font-weight: bold;
	margin-right: 20px;
}

.month-body a {
	color: black;
}

.month-body a:hover {
	color: #304ffe !important;
}