nav {
	height: 110px;
}

.nav-wrapper {
	// background-color: #171616;
	// background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
	background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-txt {
	color: #a8a8a8;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 100;
	font-style: none;
	letter-spacing: 0.5px;
}

.nav-logo {
	height: 90px;
	width: 90px;
	margin-left: 25px;
}

.nav-logo img {
	height: 90px;
	width: 90px;
}

.nav-item {
	font-size: 16px;
}

.nav-item:hover {
	opacity: 0.5;
}

.ham-icon {
	position: absolute !important;
	left: 0 !important;
}

@media #{$small-and-down} {
	nav {
		height: 65px;
	}

	.nav-logo, .nav-logo img {
		height: 50px;
		width: 50px;
	}
}


@media #{$medium-and-down} {

  .nav-wrapper {
  	justify-content: center;
  }

	.nav-logo {
		margin: 0;
	}
}