.nav-wrapper {
	background-color: #252525 !important;
}

.nav-txt {
	color: #a8a8a8;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 100;
	font-style: none;
	letter-spacing: 0.5px;
}