.sponsor-banner {
	height: 300px;
	width: 100%;
	background-image: url('http://www.cancerresearchuk.org/sites/default/files/styles/cruk_narrow_resp_breakpoint_one/public/ScottishPower_eventsponsorship550px.gif?itok=-jzULSw5');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}